<div id="board" [ngClass]="{ 'disable-div': playerHasWon === true }">
  <div>
    <app-cell
      *ngFor="let cell of board.Cells; let i = index"
      [id]="i"
      [turn]="currentTurn"
      (turnChange)="changeTurn($event)"
      (cellInfo)="fillCell($event)"
    ></app-cell>
  </div>
  <div>
    <app-cell
      *ngFor="let cell of board.Cells; let i = index"
      [id]="i + 3"
      [turn]="currentTurn"
      (turnChange)="changeTurn($event)"
      (cellInfo)="fillCell($event)"
    ></app-cell>
  </div>
  <div>
    <app-cell
      *ngFor="let cell of board.Cells; let i = index"
      [id]="i + 6"
      [turn]="currentTurn"
      (turnChange)="changeTurn($event)"
      (cellInfo)="fillCell($event)"
    ></app-cell>
  </div>
</div>
