<div>
  <app-cell
    [id]="0"
    [turn]="currentTurn"
    (turnChange)="changeTurn($event)"
    (cellInfo)="fillCell($event)"
  ></app-cell>
  <app-cell
    [id]="1"
    [turn]="currentTurn"
    (turnChange)="changeTurn($event)"
    (cellInfo)="fillCell($event)"
  ></app-cell>
  <app-cell
    [id]="2"
    [turn]="currentTurn"
    (turnChange)="changeTurn($event)"
    (cellInfo)="fillCell($event)"
  ></app-cell>
</div>
<div>
  <app-cell
    [id]="3"
    [turn]="currentTurn"
    (turnChange)="changeTurn($event)"
    (cellInfo)="fillCell($event)"
  ></app-cell>
  <app-cell
    [id]="4"
    [turn]="currentTurn"
    (turnChange)="changeTurn($event)"
    (cellInfo)="fillCell($event)"
  ></app-cell>
  <app-cell
    [id]="5"
    [turn]="currentTurn"
    (turnChange)="changeTurn($event)"
    (cellInfo)="fillCell($event)"
  ></app-cell>
</div>
<div>
  <app-cell
    [id]="6"
    [turn]="currentTurn"
    (turnChange)="changeTurn($event)"
    (cellInfo)="fillCell($event)"
  ></app-cell>
  <app-cell
    [id]="7"
    [turn]="currentTurn"
    (turnChange)="changeTurn($event)"
    (cellInfo)="fillCell($event)"
  ></app-cell>
  <app-cell
    [id]="8"
    [turn]="currentTurn"
    (turnChange)="changeTurn($event)"
    (cellInfo)="fillCell($event)"
  ></app-cell>
</div>
